openapi: 3.0.3
info:
  title: FlexiShop Product Service API
  version: '1.0.0'
  description: API specification for FlexiShop's Product Service.
servers:
  - url: https://api.flexishop.com/v1
    description: Production server
paths:
  /products:
    get:
      tags:
        - Products
      summary: Retrieve a list of products
      operationId: listProducts
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/SearchQueryParam'
        - $ref: '#/components/parameters/PriceParam'
        - $ref: '#/components/parameters/RatingParam'
        - $ref: '#/components/parameters/SortByParam'
      responses:
        '200':
          description: A paginated list of products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourcePaginated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Products
      summary: Create a new product
      operationId: createProduct
      requestBody:
        description: Product to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductResource'
      responses:
        '201':
          description: Product created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResource'
          headers:
            Location:
              description: URL of the created product
              schema:
                type: string
                format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /products/{productId}:
    parameters:
      - $ref: '#/components/parameters/ProductIdParam'
    get:
      tags:
        - Products
      summary: Retrieve a product by ID
      operationId: getProductById
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResource'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Products
      summary: Partially update an existing product
      operationId: updateProduct
      requestBody:
        description: Fields to update in the product
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductResourceUpdateRequest'
      responses:
        '200':
          description: Product updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResource'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Products
      summary: Delete a product
      operationId: deleteProduct
      responses:
        '204':
          description: Product deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /brands:
    get:
      tags:
        - Brands
      summary: Retrieve a list of brands
      operationId: listBrands
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: A paginated list of brands
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResourcePaginated'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Brands
      summary: Create a new brand
      operationId: createBrand
      requestBody:
        description: Brand to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandResource'
      responses:
        '201':
          description: Brand created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResource'
          headers:
            Location:
              description: URL of the created brand
              schema:
                type: string
                format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /brands/{brandName}:
    parameters:
      - $ref: '#/components/parameters/BrandNameParam'
    get:
      tags:
        - Brands
      summary: Retrieve a brand by name
      operationId: getBrandByName
      responses:
        '200':
          description: Brand details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResource'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Brands
      summary: Update an existing brand
      operationId: updateBrand
      requestBody:
        description: Updated brand
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandResource'
      responses:
        '200':
          description: Brand updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResource'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Brands
      summary: Delete a brand
      operationId: deleteBrand
      responses:
        '204':
          description: Brand deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /categories:
    get:
      tags:
        - Categories
      summary: Retrieve a list of categories
      operationId: listCategories
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: A paginated list of categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResourcePaginated'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Categories
      summary: Create a new category
      operationId: createCategory
      requestBody:
        description: Category to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryResource'
      responses:
        '201':
          description: Category created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResource'
          headers:
            Location:
              description: URL of the created category
              schema:
                type: string
                format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /categories/{categoryName}:
    parameters:
      - $ref: '#/components/parameters/CategoryNameParam'
    get:
      tags:
        - Categories
      summary: Retrieve a category by name
      operationId: getCategoryByName
      responses:
        '200':
          description: Category details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResource'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Categories
      summary: Update an existing category
      operationId: updateCategory
      requestBody:
        description: Updated category
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryResource'
      responses:
        '200':
          description: Category updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResource'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Categories
      summary: Delete a category
      operationId: deleteCategory
      responses:
        '204':
          description: Category deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /tags:
    get:
      tags:
        - Tags
      summary: Retrieve a list of tags
      operationId: listTags
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: A paginated list of tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResourcePaginated'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Tags
      summary: Create a new tag
      operationId: createTag
      requestBody:
        description: Tag to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagResource'
      responses:
        '201':
          description: Tag created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResource'
          headers:
            Location:
              description: URL of the created tag
              schema:
                type: string
                format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /tags/{tagName}:
    parameters:
      - $ref: '#/components/parameters/TagNameParam'
    get:
      tags:
        - Tags
      summary: Retrieve a tag by name
      operationId: getTagByName
      responses:
        '200':
          description: Tag details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResource'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Tags
      summary: Update an existing tag
      operationId: updateTag
      requestBody:
        description: Updated tag
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagResource'
      responses:
        '200':
          description: Tag updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResource'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Tags
      summary: Delete a tag
      operationId: deleteTag
      responses:
        '204':
          description: Tag deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  parameters:
    ProductIdParam:
      name: productId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The UUID of the product
    BrandNameParam:
      name: brandName
      in: path
      required: true
      schema:
        type: string
      description: The name of the brand
    CategoryNameParam:
      name: categoryName
      in: path
      required: true
      schema:
        type: string
      description: The name of the category
    TagNameParam:
      name: tagName
      in: path
      required: true
      schema:
        type: string
      description: The name of the tag
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Maximum number of items to return
    OffsetParam:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of items to skip before starting to collect the result set
    SearchQueryParam:
      name: q
      in: query
      schema:
        type: string
      description: Search query string
    PriceParam:
      name: price
      in: query
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/PriceCriteria'
      description: Price filter criteria
    RatingParam:
      name: rating
      in: query
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/RatingCriteria'
      description: Rating filter criteria
    SortByParam:
      name: sort_by
      in: query
      schema:
        type: array
        items:
          type: string
          pattern: '^[a-zA-Z0-9_]+:(asc|desc)$'
        example:
          - 'price:asc'
          - 'name:desc'
      explode: false
      description: >
        Sorting fields and order. Each value must be in the format `field:asc` or `field:desc`.
        Multiple fields can be specified by repeating the parameter.
  schemas:
    ProductResource:
      type: object
      required:
        - name
        - description
        - price
        - status
        - inventoryQuantity
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: '123e4567-e89b-12d3-a456-426614174000'
        name:
          type: string
          maxLength: 255
          example: 'Wireless Mouse'
        description:
          type: string
          example: 'A high-quality wireless mouse with ergonomic design.'
        brand:
          type: string
          example: 'Logitech'
        price:
          type: number
          format: float
          minimum: 0.0
          example: 29.99
        status:
          type: string
          enum: [active, inactive, discontinued]
          default: active
          example: 'active'
        inventoryQuantity:
          type: integer
          minimum: 0
          default: 0
          example: 150
        categories:
          type: array
          items:
            type: string
          example: ['Electronics', 'Accessories']
        tags:
          type: array
          items:
            type: string
          example: ['wireless', 'mouse']
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageResource'
        specifications:
          type: array
          items:
            $ref: '#/components/schemas/SpecificationResource'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-01T12:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-02T12:00:00Z'
    ProductResourceUpdateRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
          nullable: true
          example: 'Wireless Mouse'
        description:
          type: string
          nullable: true
          example: 'An updated description.'
        brand:
          type: string
          nullable: true
          example: 'Logitech'
        price:
          type: number
          format: float
          minimum: 0.0
          nullable: true
          example: 29.99
        status:
          type: string
          enum: [active, inactive, discontinued]
          nullable: true
          example: 'inactive'
        inventoryQuantity:
          type: integer
          minimum: 0
          nullable: true
          example: 120
        categories:
          type: array
          items:
            type: string
          nullable: true
          example: ['Electronics', 'Accessories']
        tags:
          type: array
          items:
            type: string
          nullable: true
          example: ['wireless', 'mouse']
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageResource'
          nullable: true
        specifications:
          type: array
          items:
            $ref: '#/components/schemas/SpecificationResource'
          nullable: true
    ProductResourcePaginated:
      type: object
      required:
        - totalItems
        - items
      properties:
        totalItems:
          type: integer
          example: 100
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProductResource'
    BrandResource:
      type: object
      required:
        - name
      properties:
        id:
          type: integer
          readOnly: true
          example: 2
        name:
          type: string
          maxLength: 255
          example: 'Logitech'
        description:
          type: string
          nullable: true
          example: 'A leading manufacturer of computer peripherals.'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-01T12:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-02T12:00:00Z'
    BrandResourcePaginated:
      type: object
      required:
        - totalItems
        - items
      properties:
        totalItems:
          type: integer
          example: 20
        items:
          type: array
          items:
            $ref: '#/components/schemas/BrandResource'
    CategoryResource:
      type: object
      required:
        - name
      properties:
        id:
          type: integer
          readOnly: true
          example: 3
        name:
          type: string
          maxLength: 255
          example: 'Electronics'
        parent:
          type: string
          nullable: true
          example: 'Technology'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-01T12:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-02T12:00:00Z'
    CategoryResourcePaginated:
      type: object
      required:
        - totalItems
        - items
      properties:
        totalItems:
          type: integer
          example: 15
        items:
          type: array
          items:
            $ref: '#/components/schemas/CategoryResource'
    TagResource:
      type: object
      required:
        - name
      properties:
        id:
          type: integer
          readOnly: true
          example: 4
        name:
          type: string
          maxLength: 255
          example: 'wireless'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-01T12:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-02T12:00:00Z'
    TagResourcePaginated:
      type: object
      required:
        - totalItems
        - items
      properties:
        totalItems:
          type: integer
          example: 50
        items:
          type: array
          items:
            $ref: '#/components/schemas/TagResource'
    ImageResource:
      type: object
      required:
        - imageUrl
        - isPrimary
      properties:
        id:
          type: integer
          readOnly: true
          example: 10
        imageUrl:
          type: string
          format: uri
          example: 'https://cdn.flexishop.com/images/product1.jpg'
        isPrimary:
          type: boolean
          default: false
          example: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-01T12:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-02T12:00:00Z'
    SpecificationResource:
      type: object
      required:
        - name
        - value
      properties:
        id:
          type: integer
          readOnly: true
          example: 5
        name:
          type: string
          maxLength: 255
          example: 'Battery Life'
        value:
          type: string
          maxLength: 255
          example: 'Up to 12 months'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-01T12:00:00Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          example: '2023-10-02T12:00:00Z'
    PriceCriteria:
      type: object
      oneOf:
        - required: ['eq']
        - required: ['gte']
        - required: ['lte']
        - required: ['gte', 'lte']
      properties:
        eq:
          type: number
          format: float
          minimum: 0
        gte:
          type: number
          format: float
          minimum: 0
        lte:
          type: number
          format: float
          minimum: 0
      additionalProperties: false
    RatingCriteria:
      type: object
      oneOf:
        - required: ['eq']
        - required: ['gte']
        - required: ['lte']
        - required: ['gte', 'lte']
      properties:
        eq:
          type: number
          format: float
          minimum: 0
          maximum: 5
        gte:
          type: number
          format: float
          minimum: 0
          maximum: 5
        lte:
          type: number
          format: float
          minimum: 0
          maximum: 5
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          example: '2023-10-03T15:23:01.456+00:00'
        status:
          type: integer
          example: 400
        error:
          type: string
          example: 'Bad Request'
        message:
          type: string
          example: 'Validation failed for object=`productResource`. Error count: 1'
        path:
          type: string
          example: '/api/v1/products'
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
security:
  - BearerAuth: []
